@import "colors";
@import "mixins";
@import "fonts";

.field__item{

.breadcrums
{
.container
{
.breadcrumb{
    ol {
        li {
            //font-family: "OpenSans-SemiBold";
            a {
                text-decoration: none;
            color: red;
            }
            list-style-type: none;
           }
       }
}
}
}
}
//.visually-hidden
//{
 //   visibility: none;
//}