/* Color palette */

$muted-purple: #7e5291;
$pale-grey: #dbd9ea;
$dusk: #5e5a8b;
$brownish-grey: #666666;
$white: #ffffff;
$grape: #5f2451;
$greyish-brown: #695e4b;
$rose: #d55b65;
$greyish-brown-two: #595959;
$cool-grey: #a6a5a8;
$purpley-grey: #91798b;
$light-gray: #faf8fb;
$dark-pink: #cd4673;
$blush: #f3a9a0;
$clay: #b05b51;
$affair: #7f5291;
$governorbay: #5d5a8b;
$whitelilac: #f4f1f5;
$prelude: #cdb1d9;
$lavendergrey: #c2c0dc;
$magnolia: #f9f7fa;
$alice-blue: #f4f1f5;
$terracotta: #dc6c5a;
$karry: #FEDCC1;
$whitesmoke:#FFF3F1;
$gray:#808080;
$tyrianpurpler:rgba(100, 15, 71, 0.3);
$honeyflower:rgba(87, 51, 104, 0.2);
$kimberly:rgba(94, 90, 139, 0.4);
$white-two: #fefefe;
$pastel-red:#dc6b5a;
$muted-purple-two:#7c5390;
$zambezi:rgba(89, 89, 89, 0.85);
$grayhalf:rgba(128, 128, 128, 0.5);
$nobel:rgb(153, 153, 153);
$pale-grey-four:#faf9fb;
$thick-gray:#666666;
$search_box:rgba(87, 51, 104, 0.1);
$frabe :#d5d5d5;

/*Page names*/
$impact_self_test: ".patient-site.webform-heavy";
$self_test: ".patient-site.webform-self";
$hmb_404: ".patient-site";
$hcp_404: ".hcp-site";
$hmb_sitemap:".patient-site";
$hcp_sitemap:".hcp-site";
$hcp_resource:".hcp-site";
$hmb_whatcauses:".patient-site";
$hmb_search_results: ".patient-site";
$hcp_search_Results:".hcp-site";
$hcp_aboutus:".hcp-site";
$hmb_aboutus:".patient-site";